@charset "UTF-8";
/* Styles for xieqizhang.com */
@import url(reset/reset.css);
/* GENERAL */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 65%; 
}

body {
  width: 100%;
  height: 100%;
  font-family: "brandon-grotesque", "helvetica neue", "helvetica", "arial", sans-serif;
  color: #777;
  line-height: 1.75; 
}

*, *:before, *:after {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  */
  border: none;
  outline: none; 
}

@media screen and (min-width: 62.5em) {
  font-size: 100%; 
}
@media screen and (min-width: 40em) {
  font-size: 85%; 
}
/* COLOR DEFINITIONS */
/* 	HEADER */
.header {
  text-align: center; 
}

.foreground {
  background: #fff;
  position: relative;
  z-index: 100;
  text-align: center;
}
.indexCover{
  height: 350px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  background-position: center; 
  z-index:-1;
}
.indexCover .regular {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0); 
  }
.cover {
  height: 330px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  background-position: center; 
  z-index:-1;
}
  .cover .regular {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0); 
  }

#nav{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  z-index: 1000;
  position:fixed;
  left:50%;
  top:0;
  margin-left:-375px; /* negative margin equal to half the width */
  width:750px;
}

#nav li {
float:left;
margin-top: 15px;
}

#nav a {
display:inline;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
margin-left: 40px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #f8f8f8;
  opacity: 0.8;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  #nav{
  margin-left:-50%; /* negative margin equal to half the width */
  width:667px;
}
  #nav a {
    width:-30%; /* fixed width */
    margin-left: 1px;
    font-size: 10px;
  }
}

.regular {
  opacity: 2; 
}

.profile {
  height: 6em;
  margin-top: 300px;
  margin-bottom: 0.2em; 
}
  .profile .avatar {
    top: -4em;
    display: inline-block;
    width: 7.5em;
    height: 7.4em;
    background-color: #fff;
    border: 0.2em solid #fff;
    z-index: 500;
    position: relative;
    border-radius: 100%;
    box-shadow:  1px 2px 1px rgba(0, 0, 0, 0.3); 
  }

.avatar-container {
  display: block;
  background-position: center;
  margin: 0 auto;
  overflow: hidden;
  line-height: 0;
  background-size: cover;
  border-radius: 100%; 
}

.avatar-large {
  width: 7em;
  height: 7em; 
}

.avatar-image {
  vertical-align: top;
  width: 100%;
  background: #f0f0f0; 
}
 @font-face{
    font-family: myFont2;
    src:url(fonts/REGULAR.OTF);
  }
.resume-button {
  position: relative;
  margin: auto;
  max-width: 10em;
  margin-top: 1.8em; 
}
  .resume-button a:hover{
    opacity: 0.5;
    text-decoration: none;
  }
  .resume-button .resume {
    font-family: myFont2;
    color: white;
    display: block;
    background: #005C5C;
    text-align: center;
    padding: 0.4em 0;
    border-radius: 0.3em;
    opacity: 0.85;
    box-shadow: 0 0.15em 0 #002525;
    -webkit-box-shadow: 0 0.15em 0 #002525;
    -webkit-transition: background .3s linear;
    transition: background 0.3s linear; }

@font-face{
  font-family: myFont;
  src:url(fonts/FREESCPT.TTF);
}
.signiture {
  color: #2B2E2E;
  font-family: myFont;
  position: relative;
  font-size: 4.7em;
  top: -1.1em; 
}

/* ABOUT */
.about {
  text-align: center; 
}
  .about p {
    font-family: myFont2;
    opacity: 0.9;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-size: 1.5em; 
    color:#002626;
  }

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto; 
}

a {
  background: transparent;
  text-decoration: none; 
}

/* FOOTER */
.footer {
  opacity: .9;
  text-align: center;
  position: relative;
  background: #fafafa;
  padding: 2.5em 0 6em;
  border-top: 0.1em solid #eee; 
}
  .footer:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #494949; 
  }
  .footer h4 {
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 0.3125em;
    font-size: 1.25em;
    position: relative;
    top: 4em; 
  }

@media screen and (min-width: 26.25em) {
  .footer h4 {
    letter-spacing: 0.6em; 
  } 
}
/* LINKS */
.links {
  list-style: none;
  margin: 30px 0;
  margin: 1.875em 0; 
}
  .links li {
    display: inline-block;
    margin: 0 25px;
    margin: 0 1.5625em; 
  }
    .links li a {
      position: relative;
      -webkit-transition: opacity .3s linear;
      transition: opacity 0.3s linear; 
    }
      .links li a:hover {
        opacity: 0.75; 
      }
    .links li .link-to {
      width: 7.5em;
      font-size: 14px;
      font-size: 0.875em;
      color: #fff;
      position: absolute;
      bottom: 10px;
      bottom: 0.625em;
      left: -2.5em;
      line-height: 100%;
      opacity: 0;
      padding: 6px 0;
      padding: 0.375em 0;
      border-radius: 4px;
      border-radius: 0.25em;
      -webkit-transform: scale(0.25);
      -ms-transform: scale(0.25);
      transform: scale(0.25);
      -webkit-transition: bottom .25s ease-out, opacity .25s ease-out, -webkit-transform .5s ease-out;
      transition: bottom 0.25s ease-out, opacity 0.25s ease-out, transform 0.5s ease-out; 
    }
      .links li .link-to:after {
        content: "";
        width: 16px;
        width: 1em;
        height: 16px;
        height: 1em;
        left: 50%;
        bottom: -3px;
        bottom: -0.1875em;
        margin-left: -8px;
        margin-left: -0.5em;
        position: absolute;
        z-index: -1;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 100% 0 1px 0; 
      }
    .links li:hover .link-to {
      bottom: 53px;
      bottom: 3.8em;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); 
    }
    .links li .behance .link-to, .links li .pinterest .link-to, .links li .dribbble .link-to, .links li .github .link-to, .links li .linkedin .link-to {
      background: #494949; 
    }
      .links li .balance .link-to:after, .links li .pinterest .link-to:after, .links li .dribbble .link-to:after, .links li .github .link-to:after, .links li .linkedin .link-to:after {
        background: #494949; 
      }

@media screen and (max-width: 40em) {
  .links li {
    margin: 0 15px;
    margin: 0 0.9375em; 
    } 
  }

.animated:hover {
  -webkit-animation: wobble .75s both;
  animation: wobble 0.75s both; 
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  30% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg); }
  45% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  75% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  30% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg); }
  45% {
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg); }
  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  75% {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }


.hidden {
  display: none !important;
  visibility: hidden; 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 2px;
  margin: -2px;
  overflow: hidden;
  position: absolute;
  width: 1px; 
}

.icon {
  display: inline-block;
  width: 2.5em;
  height: 2.5em; 
}

.icon-behance,.icon-github, .icon-linkedin {
  fill: grey; 
}

/*# sourceMappingURL=style.css.map */

/*SKILLS*/
.skillprofile {
  margin-top: 300px;
  margin-bottom: 2em; 
}

@font-face{
  font-family: TitleFont;
  src:url(fonts/SemiBold.ttf);
}

.skillprofile h1{
  text-shadow: 1px 1px #eee;
  color: #343432;
  text-align: center;
  font-size: 32pt;
  font-family: TitleFont;
  line-height: 1.7em;
  letter-spacing:1.5px
}
.disc{
  list-style-type: disc;
  margin-left: 50px;
}
#hyperLink{
  font-size: 18pt;
}
#slogan{
  text-align: center;
  font-family: titleFont;
  word-spacing: 2px;
  line-height: 1.5em;
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  color: #333333;
  text-shadow: 1px 1px #eee;
  opacity: 0.9;
}
#myGoal {
  opacity: 0.8;
  margin-top: 30px;
  width: 350px;
  height:300px;
}
.skillset{
  margin-top: 5px;
  z-index: 700;
  text-align: left;
  margin-left: 35%;
}
.skillset a:link {
  text-shadow: 1px 2px #eee;
  text-decoration: none;
  color: #2B2E2E;
  font-size: 16pt;
}
.skillset a:hover {
  text-decoration: none;
  color:#2B2E2E;
}

div[subsetMark] a:link{
  color:#005C5C;
}
div[subsetMark] a:hover{
  text-decoration: none;
  color:#2B2E2E;
}
.icon-behance{
  border-radius: 7px;
}
.icon-github{
  border-radius: 7px;
}
.triangle{
  width: 0.6em;
  height:0.6em;
  fill:grey;
}
#titlehr{
  width: 70%;
  margin: -1em auto;
  box-shadow: 1px 1px 2px #eee;
}

div[subsetMark]{
  margin-left: 3%;
  width: 34em;
  margin-left: 5%;
}

div[contentMark]{
  margin-left: 5%;
}

/*Course *****************************************************style*/
#rutgers{
  width: 250px;
  height: 85px;
  margin-left: -120%;
}
.courseList {
  margin-left: -30%;
}

#deanza{
  width: 230px;
  height: 80px;
  margin-left: -120%;
  margin-top: 30px;

}
.tableStyle{
  width: 90%;
  line-height: 2.5em;
}
#hkbu{
  width: 230px;
  height: 60px;
  margin-left: -120%;
  margin-top: 30px;
}




/*Project*********************************************************************/

#projectWrapper{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#divImg{
  width: 100%;
  margin-left: 50px;
  flex-direction:row;
  -webkit-flex-direction:row;
  float: left;
}

#divImg a:hover{
  opacity: 0.5;
}
#divImg1{
  width: 250px;
  height:200px;
  margin-right: 50px;
  -webkit-flex: 1;
          flex: 1;
  margin-bottom: 70px;
  box-shadow: 7px 3px 2px #eee;
  border: 1px solid #949E9E;
  box-sizing: border-box;
  border-radius: 6px;
}
#divImg2{
  width: 220px;
  height:200px; 
  -webkit-flex: 1;
          flex: 1;
  margin-bottom: 50px;
   margin-right: 50px;
  box-shadow: 7px 3px 2px #eee;
}

/*************about*************************************/
#contactWrap{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
  #contactMe{
    float: left;
    margin-left: 50px;
    flex-direction:row;
    -webkit-flex-direction:row;
  }
#contactInfo{
  z-index: -1;
}
#contactImg{
  margin-top:-5px;
  height: 30px;
  margin-left: 30px;
}
#contactImg2{
  margin-top:-2px;
  margin-left: -21px;
  height: 30px;
}
#moreAbout{
  text-align: center;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  #contactWrap{
    width: 375px;
  }
  #contactMe{
    width: 100%;
  }
}