body {
	background-color: #f2f2f2;
}

*, *:before, *:after {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  */
  border: none;
  outline: none; 
}
.bodyWrap{
	height: 1800px;
}
/* navigation bar */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
}
.navContainer{
	margin-top: 20px;
}
.navContainer ul li {
  display: inline;
  list-style-type: none;  
  padding-right: 30px;
}
.navContainer ul {
  text-align:center;
}
@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir.ttc);
}
.navContainer ul li a{
  color: #4d4d4d;
  text-decoration: none;
  font-size: 14px;
  font-family: Avenir;
}
.navContainer ul li a:hover {
	color: #000000;
}
.navContainer ul li a:focus,
.navContainer ul .active a{
	border-bottom: solid 1px #000;
}

/* background */
#backgroundImg{
	margin-top: 50px;
	width:100%;
}
.backgroundContainer img{
	z-index: -33;
	width:1280px;
	height:630px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
	position: relative;
}
@font-face{
	font-family: Calisto;
	src:url(fonts/Calisto);
}
.title{
	font-family: Calisto;
	font-weight: bold;
	font-size: 46px;
	z-index: 333;
	text-align: center;
	position: absolute;
	top: 300px;
	color: white;
	width:100%;
	letter-spacing: 2px;
}
.subtitle{
	font-size: 20px;
	font-family: Avenir;
	font-weight: normal;
	letter-spacing: 3px;
}
@keyframes topDown {
    50%  {top: 635px;}
    100% {top: 650px;}
}
.arrowDown{
	position:absolute;
	margin: 0 50%;
	top: 650px;
	text-align: center;
	z-index: 555;
	animation-name: topDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* Resume Part */
@keyframes topDownB {
    50%  {top: 1335px;}
    100% {top: 1350px;}
}
.arrowDownB{
	position:absolute;
	margin: 0 50%;
	top: 1350px;
	text-align: center;
	z-index: 555;
	animation-name: topDownB;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.Container{
	z-index: -33;
	width:1280px;
	height:650px;
	margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 0;
    bottom: 0;
}
.Container p{
	text-align: left;
	margin-left: 50px;
	padding: 50px;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
}
.Container p span{
	font-weight: normal;
	font-size: 20px;
	color: grey;
}
.resumeImg{
	position: absolute;
	width: 70px;
	z-index: 444;
	margin-left: 200px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 20px;
	overflow: hidden;
}
.school{
	top: 870px;
}
.school2{
	top:970px;
	margin-top: 30px;
}
.school3{
	top:1070px;
	margin-top: 60px;
}
.schoolDetail{
	position: absolute;
	width: 470px;
	z-index: 443;
	margin-left: 300px;
	letter-spacing: 1px;
	line-height: 170%;
	overflow: hidden;
}
.schoolDetail span i{
	color: grey;
}
.school_1{
	top: 871px;

}
.school_2{
	top:1000px;
}
.school_3{
	top:1130px;
}
.jobImg{
	position: absolute;
	width: 70px;
	z-index: 444;
	margin-left: 800px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 20px;
}
.jobDetail{
	position: absolute;
	width: 470px;
	z-index: 443;
	margin-left: 900px;
	letter-spacing: 1px;
	line-height: 170%;
	overflow: hidden;
}
.jobDetail span i{
	color: grey;
}
.job{
	top: 870px;
}
.job_1{
	top:871px;
}
.job2{
	top:970px;
	margin-top: 30px;
}
.job_2{
	top:1000px;
}
.job3{
	top:1070px;
	margin-top: 60px;
}
.job_3{
	top:1130px;
}
.buttonWrap{
	text-align: center;
}
.button{
	position:absolute;
	top: 1270px;
	z-index: 556;
	width: 230px;
	font-size: 14px;
	font-family: Avenir;
	padding: 5px;
	color: #1a1a1a;
	background: #f2f2f2;
	border: 1px double #1a1a1a;
	letter-spacing: 1px;
}
.button:hover{
	background: #1a1a1a;
	color: white;
}
/* portfolio */
#portfolio{
	width: 1280px;
	margin:auto;

}
.portfolioBg{
	background-color: #262626;
	height: 650px;
}
.portfolioBg p{
	color: white;
}
.projectImg{
	width: 200px;
	height: 160px;
	margin-left: 150px;
	margin-right: 180px;   

}
.imgWrap {
   position: relative;
   z-index: 336;
   top: -500px;
   height: 100px;
   width: 200px;	
   margin-bottom: 100px;
   margin-right: 60px;
   float: left;
}

.imgDescription {
	font-family: Avenir;
    position: absolute;
    margin-left: 150px;
    width: 200px;
	height: 160px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    visibility: hidden;
    color: #4d4d4d;
	text-align: center;
	padding-top: 35%;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}

.imgWrap:hover a .imgDescription {
    visibility: visible;
    opacity: 0.97;
}
@keyframes topDownC {
    50%  {top: 2035px;}
    100% {top: 2050px;}
}
.arrowD{
	position:absolute;
	left:50%;
	top: 2050px;
	z-index: 777;
	animation-name: topDownC;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* skills*/
.tableft{
	z-index: 777;
	position: absolute;
	left: 190px;
	width: 1000px;
	top:2270px;
	font-family: Avenir;
}
.skillHead{
	z-index: 888;
	position: absolute;
	top: 2150px;
	text-align: left;
	margin-left: 100px;
	padding: 50px;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: .5px;
}

/* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane{
  display: none;
}

.tab-content > .active{
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

@keyframes topDownS {
    50%  {top: 2745px;}
    100% {top: 2760px;}
}
.arrowDownS{
	position:absolute;
	margin: 0 50%;
	top: 2760px;
	text-align: center;
	z-index: 555;
	animation-name: topDownS;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*course*/
@keyframes topDownCo {
    50%  {top: 3465px;}
    100% {top: 3480px;}
}
.arrowDownCo{
	position:absolute;
	margin: 0 50%;
	top: 3480px;
	text-align: center;
	z-index: 555;
	animation-name: topDownCo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* course */
.container{
	max-width: 1000px;
	position: absolute;
	top: 2920px;
	margin-left: 290px;
	margin-top: 60px;
	z-index: 776;
	font-family: Avenir;
	font-size: 12px;
}

.faq-cat-content {
    margin-top: 5px;
    width: 600px;
}
.faq-cat-content h4{
	font-size: 13.5px;
}
.faq-cat-tabs li a {
    padding: 10px 8px 10px 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
    font-size: 14px;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;

}

.panel-faq .panel-heading .panel-title span {
    font-size: 11px;
    font-weight: normal;
}

.schoolPic{
	position: absolute;
	z-index: 777;
	margin-top: -520px;
	margin-left:250px;
	width: 270px;
}
.schoolPic img{
	margin-top: 60px;
	float: left;
	width: 170px;
	height: 50px;

}
#hkbu{
	margin-left: 20px;
}
#de{
	margin-left: -5px;
}
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 735px){
  
}
*/
/* Contact*/
.me{
	z-index: 44;
	margin-left:300px;
	position:absolute;
	top:3700px;
	width: 220px;
	border-radius: 50%;
	overflow: hidden;
}
.touch{
	z-index: 888;
	position: absolute;
	top: 3565px;
	text-align: left;
	margin-left: 120px;
	padding: 50px;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: .5px;
}

.touch span{
	font-weight: normal;
	font-size: 20px;
	color: grey;
}
.contactName{
	margin-top: -260px;
	color: #4d4d4d;
	margin-left: 343px;
	position: absolute;
	z-index: 556;
	font-size: 24px;
	font-family: Avenir;
	letter-spacing: 1px;
	font-weight: normal;
}

.contactAspect{
	z-index: 559;
	position: absolute;
	margin-left: 200px;
	top: 4030px;
	letter-spacing: 1px;
}
.otherContact{
	z-index: 559;
	position: absolute;
	margin-left: 800px;
	top: 3940px;
	letter-spacing: 1px;
}
.ContactDetail{
	width: 600px;
	z-index: 560;
	margin-left: 580px;
	top: 3750px;
	letter-spacing: .5px;
	position: absolute;
	text-align: justify;
}
.ContactDetail dd{
	line-height: 200%;
}
.iconWrap{
	position: absolute;
	z-index: 559;
	width: 40px;
	top: 3940px;
}
.icon{
	width: 40px;
	margin-bottom: 21px;
	margin-left: 740px;
}
@keyframes up{
    50%  {top: 4175px;}
    100% {top: 4180px;}
}
.up{
	position:absolute;
	left:50%;
	top: 4180px;
	z-index: 777;
	animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* footer */
.footerInfo{
	z-index: -33;
	width:1280px;
	height:150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #1a1a1a;
}
.copy{
	z-index: 3;
	color: white;
	margin-left: 36%;
	position: absolute;
	margin-top: -80px;
	font-family: Avenir;
	letter-spacing: 1px;
}
